# Tuplas

In [1]:
# Tupla e um objeto imutavel, nao e possivel excluir elementos especificos de uma tupla ou alteralo

tupla1 = ("Matematica", 23, "Gatos")

In [2]:
tupla1

('Matematica', 23, 'Gatos')

In [3]:
tupla = ("Chocolate")

In [4]:
tupla

'Chocolate'

In [6]:
tupla1[0]

'Matematica'

In [7]:
len(tupla1)

3

In [9]:
# Slicing, "Traga  todos elementos apartir da posicao 1"
tupla1[1:]

(23, 'Gatos')

In [10]:
tupla1.index("Gatos")

2

In [11]:
del tupla1

In [12]:
t2 = ('A', 'B', 'C')

In [13]:
t2

('A', 'B', 'C')

In [15]:
# Workaround - Tupla - Lista - Tupla
# Converter tupla em lista
lista_t2 = list(t2)

In [16]:
lista_t2

['A', 'B', 'C']

In [17]:
lista_t2.append('D')

In [18]:
lista_t2

['A', 'B', 'C', 'D']

In [22]:
# Convertendo de volta lista em tupla
t2 = tuple(lista_t2)

In [20]:
t2

('A', 'B', 'C', 'D')